.search-content {
  .input-search {
    border-radius: 20px;
  }

  .icono-file {
    font-size: 1.2rem;
  }

  .external-link {
    text-decoration: none;
  }

  .margin-left-auto {
    margin-left: auto;
  }
}
