<div class="search-content d-flex flex-column">
  <div>
    <p-iconField iconPosition="left">
      <p-inputIcon [styleClass]="(loadingSearch$ | async) ? 'pi pi-spin pi-spinner' : 'pi pi-search'" />
      <input type="text" class="w-100 input-search" pInputText [formControl]="searchFC" placeholder="Buscar..." />
    </p-iconField>
  </div>

  <ng-container *ngIf="contentList && contentList.length">
    <span class="font-size-lg m-top-15 m-bottom-5 m-left-5 p-text-secondary">Resultados</span>
    <p-divider styleClass="m-top-0 m-bottom-10"/>

    <div class="d-flex flex-column gap-5">
      <ng-container *ngFor="let item of contentList">
        <ng-container [ngTemplateOutletContext]="{item: item, isDelete: false}" [ngTemplateOutlet]="contentItem"></ng-container>
      </ng-container>
      <p-paginator
        styleClass="p-bottom-0"
        (onPageChange)="onPageChange($event)"
        [first]="first"
        [rows]="size"
        [alwaysShow]="false"
        [totalRecords]="totalElements"/>
    </div>
  </ng-container>

  <ng-container *ngIf="contentList && !contentList.length">
    <span class="font-size-lg m-top-15 m-left-5 p-text-secondary">Sin resultados para la búsqueda</span>
  </ng-container>

  <ng-container *ngIf="!contentList && recentSearches.length">
    <span class="font-size-lg m-top-15 m-bottom-5 m-left-5 p-text-secondary">Búsqueda reciente</span>
    <p-divider styleClass="m-top-0 m-bottom-10"/>
    <ng-container *ngFor="let item of recentSearches">
      <ng-container [ngTemplateOutletContext]="{item: item, isDelete: true}" [ngTemplateOutlet]="contentItem"></ng-container>
    </ng-container>
  </ng-container>

  <ng-template #contentItem let-item="item" let-isDelete="isDelete">
    <div class="d-flex gap-10 p-5">
      <div class="d-flex justify-content-center align-items-center">
        <i class="pi pi-file icono-file"></i>
      </div>
      <div class="d-flex flex-column gap-5">
        <div>
          <a class="cursor-pointer text-primary font-w-500" (click)="goToContent(item)">{{item.title}}</a>
        </div>
        <small class="">Creado por <a class="cursor-pointer text-primary" >{{item.user.firstname + ' ' + item.user.lastname}}</a> el {{item.createdAt | date: 'dd/MM/yyyy'}}</small>
      </div>
      <div class="d-flex justify-content-center align-items-center margin-left-auto">
        <a [routerLink]="['/contenido', item.id]" target="_blank" (click)="addRecentSearch(item)" class="text-primary text-decoration-none">
          <i class="pi pi-external-link font-w-600"></i>
        </a>
        <a *ngIf="isDelete" class="m-left-10 cursor-pointer" (click)="deleteRecentSearch(item.id)">
          <i class="pi pi-trash"></i>
        </a>
      </div>
    </div>
  </ng-template>
</div>
