<div class="container">
  <div class="d-flex col-gap-10 align-items-center m-bottom-10">
    <h2 class="my-0">Contenidos</h2>
  </div>
  <div class="w-100">
    <p-table [value]="contents"
             [paginator]="true"
             [rows]="5"
             [totalRecords]="totalRecords"
             [rowsPerPageOptions]="[5,10,20]"
             [lazy]="true" (onLazyLoad)="searchContent($event)">
      <ng-template pTemplate="caption">
        <div class="flex">
          <p-iconField iconPosition="left">
            <p-inputIcon>
              <i class="pi pi-search"></i>
            </p-inputIcon>
            <input
              pInputText
              [formControl]="searchFormControl"
              type="text"
              placeholder="Buscar contenido" />
          </p-iconField>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Título</th>
          <th>Creado</th>
          <th>Autor</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-content>
        <tr>
          <td>{{ content.title }}</td>
          <td>{{ content.createdAt | date: 'dd/MM/yyyy' }}</td>
          <td>{{ content.user.firstname + ' ' + content.user.lastname }}</td>
          <td>
            <i class="pi pi-eye text-primary cursor-pointer m-right-10" (click)="showContent(content.id)" pTooltip="Visualizar" tooltipPosition="top"></i>
            <i [ngClass]="content.isImportant ? 'pi pi-star-fill' : 'pi pi-star'"
               class="text-warning cursor-pointer"
               [pTooltip]="content.isImportant ? 'Remover importante' : 'Marcar importante'"
               tooltipPosition="top" (click)="updateImportantStatus(content)"></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <p-dialog *ngIf="toggleModal"
            [header]="titleModal"
            [modal]="true"
            [draggable]="false"
            [(visible)]="toggleModal"
            [breakpoints]="{
              '960px': '90vw',
              '640px': '90vw'
            }"
            [style]="{ width: '60rem' }">
    <app-ckeditor [htmlContent]="htmlContentFC"></app-ckeditor>
  </p-dialog>
</div>
